<head>
  <title>aktienow-client</title>
</head>

<body>
   {{> principal}}
 
</body>

<template name="principal">
  {{> Template.dynamic template=top}}
  {{> Template.dynamic template=main}}
</template>

<template name="login">
 
  {{> Template.dynamic template=main}}
</template>

<template name="header">
<nav class="navbar navbar-default ">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Biblioteca</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
 <!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/nlu">NLU</a></li>
        <li><a href="/news">News</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  {{#each email in currentUser.emails}}{{email.address}}  {{/each}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
          </ul>
        </li>
       
      </ul> 
    </div> --><!-- /.navbar-collapse -->
  </div>
</nav>
</template>
<template name="usuario">
  <div class="container">
<div class="jumbotron">
   
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
       
        {{#if resposta}}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Usuario não cadastrado!</strong>
        </div>
        {{/if}} 
       
        <div class="form-group">
          <label for="tarefa">Digite seu usuário</label>
          <!--<input type="text" name="tarefa" id="texto" class="form-control" placeholder="Digite seu texto aqui">-->
          <input type="text"  class="form-control" name="usuario" placeholder="Usuário" id="usuario" />
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success btn-block">Iniciar Avaliação</button>
        </div>

      </div>
     
    </div>
  

</div>
  </div>
</template>
