    <template name="main_form_avaliacao">
      <div class="jumbotron">
       
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            {{#if temLivros}}
            <div class="form-group">
              <label for="livro_id">Livro</label>
              <select class="form-control" id="livro_id" name="livro_id">
               {{#each livro in livros}}
               
               <option value="{{livro.id}}">{{livro.nome}}</option>
               
               {{/each}}
             </select>
           </div>   
           <div class="form-group">
            <label for="estado">Estado de Conservação</label>
            <select class="form-control" id="estado" name="estado">
              <option>Ótimo</option>
              <option>Bom</option>
              <option>Ruim</option>
              <option>Regular</option>
            </select>
          </div>            
          <div class="form-group">
            <label for="nota">Nota</label>
            <select class="form-control" id="nota" name="nota">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option> 
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="observacao">Observação</label>
            <textarea class="form-control" name="observacao" placeholder="Digite sua observação" maxlength="256" id="observacao" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success btn-block avaliar">Avaliar</button>
          </div>
          {{else}}
          <p>Você não tem nenhum livro para avaliar!</p>
          <button type="button" class="btn btn-primary  return-home " >Voltar para Home</button>
          {{/if}}
        </div>
        
      </div>
      

    </div>
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Avaliação</h4>
          </div>
          {{#if temLivros}}
          <div class="modal-body">
            <p>Avaliação realizada com sucesso!</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary return-home" data-dismiss="modal">Voltar Para Home</button>
            <button type="button" class="btn btn-success nova-avaliacao" data-dismiss="modal">Fazer Nova Avaliação</button>
          </div>
          
          {{else}}
          
          <div class="modal-body">
            <p>Todos os livros avaliados!</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary return-home" data-dismiss="modal">Voltar Para Home</button>
          </div>

          {{/if}}

        </div>
      </div>
    </div>
  </template>