      <template name="header_admin">
        <nav class="navbar navbar-default ">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             <a class="navbar-brand" href="/admin">ADMIN</a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/nlu">NLU</a></li>
              <li><a href="/news">News</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  {{#each email in currentUser.emails}}{{email.address}}  {{/each}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>
              </li>
             
            </ul> 
          </div> --><!-- /.navbar-collapse -->
        </div>
      </nav>
    </template>

    <template name="main_admin">
     <div class="container">
      {{#if logado}}

      <div class="col-xs-12">


        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home" >Avaliações</a></li>
          <li><a data-toggle="tab" href="#menu1">Lista Usuários</a></li>
          <li><a data-toggle="tab" href="#menu2">Lista Livros</a></li>
          <li><a data-toggle="tab" href="#menu3"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Usuário</a></li>
          <li><a data-toggle="tab" href="#menu4"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Livro</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">

                 {{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}


     </div>
     <div id="menu1" class="tab-pane fade">
       <hr />
       {{#each usuariosLivros}}
       <div class="panel panel-info">
        <div class="panel-heading">{{usuario}}</div>
        <div class="panel-body">
        <ul>
        {{#each livros}}
        <li>{{nome}}</li>
        {{/each}}
        </ul>
        </div>
        <div class="panel-footer">Média: {{media}} </div>
        
      </div> 
        {{/each}}
    </div>
    <div id="menu2" class="tab-pane fade">
       <hr />
       {{#each livrosDados}}
       <div class="panel panel-info">
        <div class="panel-heading">{{nome}}</div>
        <div class="panel-body">
        <li>Média: {{media}}</li>
        <li><b>Estado:</b></li>
        <ul>
        {{#each porcentagem}}
        <li>{{estado}} : {{porcentagem}} %</li>
        {{/each}}
        </ul>
        </div>
        <div class="panel-footer">Total de avalições: {{total}} </div>
        
      </div> 
        {{/each}}
     

    </div> 

    <div id="menu3" class="tab-pane fade">
     <div class="col-md-4">
      <h3>Adicionar Usuário</h3>
      <div class="form-group">
        <label for="tarefa">Usuário</label>
        <input type="text"  class="form-control" name="usuario" placeholder="Usuário" id="usuario" />
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-block cadastrar-usuario">Cadastrar</button>
      </div>
    </div> 
  </div> 

  <div id="menu4" class="tab-pane fade">
    <div class="col-md-4">
      <h3>Adicionar Livro</h3>
      <div class="form-group">
        <label for="tarefa">Livro</label>
        <input type="text"  class="form-control" name="livro" placeholder="Livro" id="livro" />
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-block cadastrar-livro">Cadastrar</button>
      </div>
    </div>
  </div>

</div>





</div>

{{else}}

<div class="jumbotron">

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">

      {{#if resposta}}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Usuario não cadastrado!</strong>
      </div>
      {{/if}} 

      <div class="form-group">
        <h2 for="usuario">Login</h2>
        <!--<input type="text" name="tarefa" id="texto" class="form-control" placeholder="Digite seu texto aqui">-->
        <label for="usuario">Usuário:</label>
        <input type="text"  class="form-control" name="usuario" placeholder="Usuário" id="usuario" />
        <label for="senha">Senha:</label>
        <input type="password"  class="form-control" name="senha" placeholder="Senha" id="senha" />
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-block login-admin">Login</button>
      </div>

    </div>

  </div>


</div>
{{/if}}

</div>



<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Cadastro</h4>
      </div>

      <div class="modal-body">
        <p>Cadastro realizada com sucesso!</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary " data-dismiss="modal">Fechar</button>
      </div>


    </div>
  </div>
</div>
</template>

